@model Hospital_Appointment.Models.User

@{
    ViewBag.Title = "Dasboard";
}



<div class="container text-center">
    <div class="container-fluid">
        <div class="jumbotron">

            <h1><span class="glyphicon glyphicon-user" style="color:green"></span>Welcome @Model.Name</h1>
            <p>
                <a class="btn btn-success" href="/User/Edit/@Model.Id">Edit Profile</a>
            </p>
        </div>

    </div>
    <div class="row content">
        <div class="col-sm-10 text-left">
            <div id='calendar'></div>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>
                    @Html.ActionLink("Patients Records", "Index", "Patient", null, new { @class = "btn btn-info" })
                </p>
            </div>
            @if (User.IsInRole("Admin"))
            {
            <div class="well">
                <p>@Html.ActionLink("OUR Employees", "Index", "User", null, new { @class = "btn btn-info" })</p>
            </div>
            }
            <div class="well">
                <p>@Html.ActionLink("All Appointments", "Index", "Appointment", null, new { @class = "btn btn-info" })</p>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer row">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-info" id="Edit">Edit</button>
                </div>
                
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        var events = [];
        $.ajax({
            type: "GET",
            url: "/Appointment/GetEvents",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.AppointmentId,
                        description: v.Description,
                        start: moment(v.startDate),
                        end: v.EndDate != null ? moment(v.EndDate) : null,
                        allDay: false,
                        id: v.Id,
                        color: v.Attented==true? 'green':'purple'
                    });
                })

                GenerateCalender(events);
                console.log(events)
            },
            error: function (error) {
                alert('failed');
            }
        })
            $('#exampleModal').modal('show');
        function GenerateCalender(events) {
            $('#calender').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                height:350,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'month',
                selectable: false,
                
                firstDay: 1, //The day that each week begins (Monday=1)
                slotMinutes: 30,

                
                events: events,
                     @*'@Url.RouteUrl(new{ action="GetEvents", controller="Home"})'*@
                eventClick: function (calEvent, jsEvent, view) {
                    $('#myModal #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                    }
                    $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                    $('#myModal #pDetails').empty().html($description);
                    $('#Edit').on('click', function () { window.location.href = "/Appointment/Edit/" + calEvent.id+"" })
                    $('#myModal').modal();
                }
            });
        }
            $("#calender").click(function () {
                $('#exampleModal').modal('show');
            });
    });
    </script>
}